body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
}

.logo {
    font-family: 'Peralta', cursive;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}
